<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset = "UTF-8">
  </head>

  <body>
    <div class = "fixed">
        <div id = "output">
          <h4>0</h4><h4><span id = "memory">M</span></h4>
          <h3>0</h3>
        </div>
        <div id = "buttonPad">
          <div class = "row">
            <button id = "memoryStore">MS</button>
            <button id = "1">1</button>
            <button id = "2">2</button>
            <button id = "3">3</button>
            <button id = "add">+</button>
          </div>
          <div class = "row">
            <button id = "memoryAdd">M+</button>
            <button id = "4">4</button>
            <button id = "5">5</button>
            <button id = "6">6</button>
            <button id = "subtract">-</button>
          </div>
          <div class = "row">
            <button id = "memoryDisplay">MR</button>
            <button id = "7">7</button>
            <button id = "8">8</button>
            <button id = "9">9</button>
            <button id = "multiply">*</button>
          </div>
          <div class = "row">
            <button id = "memoryClear">MC</button>
            <button id = "equals">=</button>
            <button id = "0">0</button>
            <button id = "negative">+/-</button>
            <button id = "divide">/</button>
          </div>
          <div class = "row">
            <button id = "clear">C</button>
            <button id = ".">.</button>
            <button id = "backspace">&lt;</button>
          </div>
        </div>
    </div>
  <script src="client.js"></script>
  </body>

</html>